In [20]:
from __future__ import print_function, division
import numpy as np

# Basic variable types: 
### integers, floats, strings

In [2]:
a = 0
type(a)

In [5]:
b = 5.3
type(b)

float

In [6]:
a = '0'
type(a)

str

In [19]:
type(a)

str

In [169]:
a = 0
a == 0

True

In [ ]:
a = "hello"
a[0]

In [188]:
a = np.int16(-32769)

In [189]:
type(a)

numpy.int16

In [191]:
a

32767

In [201]:
a = 2147483688

In [202]:
type(a)

int

In [203]:
a

2147483688

# series of numbers
## numpy

In [23]:
a = [0]
a

[0]

In [34]:
b = [0, 3.5, '7']
b

[0, 3.5, '7']

In [35]:
c = np.array(b)

In [36]:
c.dtype

dtype('S32')

In [100]:
np.random.seed(123)
n = 60 * np.random.rand(20) + 40

tt = (10. * np.random.randn(10,20) + n).T
tt.shape

(20, 10)

In [249]:
np.save("butTimeTable.npy", tt)

In [250]:
hours = range(1,11)
busses = np.random.choice(range(30, 110), 20)
np.save("busBusses.npy", busses)

In [156]:
def printBusTable(times, i):
    print("{:>3d} ".format(busses[i]), end="")
    for j in times[i]:
        print("{:>7.2f} ".format(j), end="")
    print("\n")

print("{:>3}".format(""), end="")

for k in range(10):
    print("{:>4} PM ".format(hours[k]), end="")
print("")

print("{:>3}".format("BUS"), end="")
print("")

for k in range(20):
    printBusTable(tt, k)

      1 PM    2 PM    3 PM    4 PM    5 PM    6 PM    7 PM    8 PM    9 PM   10 PM
BUS
 44   91.83   72.99   96.74   73.41   85.58  101.38   96.98   95.56   77.87   78.38

 50   61.03   60.00   67.86   41.11   53.38   36.92   53.63   55.74   58.57   54.99

 63   60.98   45.56   45.88   66.16   60.03   50.85   45.38   53.81   54.55   60.64

 38   87.99   55.80   81.03   66.19   53.30   67.56   74.38   71.14   87.67   67.10

 55   73.81   79.26   86.31   99.78   90.29   84.38   95.84   84.51   97.12  105.18

106   77.14   71.12   52.12   73.46   91.37   72.87   68.71   72.43   61.80   72.27

 47   86.31  102.23  113.02   95.70   98.60  114.93  104.41  105.50   93.36   98.78

 30   74.71   80.97   89.16   70.23   81.43   78.39   78.97   72.11   55.52   79.02

 52   77.93   92.78   69.31   61.53   70.65   76.98   73.42   84.09   63.37   67.99

 62   49.24   67.66   61.20   51.40   44.91   68.52   78.97   52.58   53.75   54.37

 76   59.19   70.38   48.61   81.46   64.85   65.33   58.19   61.38   57.04   59.64

 50   75.13  106.12   85.74   85.39   67.69   78.10   85.18   81.00   87.66   86.53

109   63.76   53.37   71.00   77.82   62.04   56.34   68.85   55.82   68.09   72.11

 90   15.59   33.19   35.27   30.91   56.01   32.58   46.42   42.83   43.28   49.38

 56   46.17   81.32   75.50   65.69   56.53   56.32   49.76   56.47   65.88   61.13

 92   77.28   76.30   73.31   96.06   89.29   87.50   65.51   85.01   83.02   70.12

 81   60.22   51.25   29.72   47.60   61.08   58.56   40.75   54.98   52.92   44.26

 93   48.79   61.22   60.92   60.84   53.31   53.76   52.21   65.25   18.22   66.65

 43   71.92   80.80   67.86   61.05   58.18   66.40   77.43   74.97   69.20   80.85

 76   78.79   89.46   70.65   58.27   68.58   89.97   66.60   65.80   70.80   75.61

In [144]:
tt.mean()

68.884458640080283

In [145]:
print("mean time {:.2f} minutes for all busses at any time".format(tt.mean()))

mean time 68.88 minutes for all busses at any time

In [146]:
tt.mean(axis = 0)

array([ 66.89079118,  71.58962256,  69.06093555,  68.20293716,
        68.35553274,  69.88235848,  69.07994486,  69.5488946 ,
        65.98370986,  70.24985942])

In [147]:
print("mean time by hour")
print('\n'.join('{:>2d} PM: {:6.2f} minutes'.format(hours[k[0]], k[1]) for k in enumerate(tt.mean(axis = 0))))

mean time by hour
 1 PM:  66.89 minutes
 2 PM:  71.59 minutes
 3 PM:  69.06 minutes
 4 PM:  68.20 minutes
 5 PM:  68.36 minutes
 6 PM:  69.88 minutes
 7 PM:  69.08 minutes
 8 PM:  69.55 minutes
 9 PM:  65.98 minutes
10 PM:  70.25 minutes

In [148]:
print("mean time by bus")
print('\n'.join('{:>5d}: {:6.2f} minutes'.format(busses[k[0]], k[1]) for k in enumerate(tt.mean(axis = 1))))

mean time by bus
   72:  87.07 minutes
   45:  54.32 minutes
   33:  54.39 minutes
   79:  71.22 minutes
   63:  89.65 minutes
   64:  71.33 minutes
   93: 101.28 minutes
   42:  76.05 minutes
   56:  73.80 minutes
  101:  58.26 minutes
   70:  62.61 minutes
   71:  83.85 minutes
   58:  64.92 minutes
   45:  38.55 minutes
   82:  61.48 minutes
   75:  80.34 minutes
   98:  50.13 minutes
   66:  54.12 minutes
   89:  70.87 minutes
  103:  73.45 minutes

In [157]:
hours = np.array(hours)
print("the time it takes the longest is: {} PM".format(hours[tt.mean(axis = 0) == tt.mean(axis = 0).max()][0]))

the time it takes the longest is: 2 PM

In [164]:
meanByTime = tt.mean(axis = 0)
print("the time it takes the longest is: {} PM, when the trip takes {:.2f} minutes"\
      .format(hours[meanByTime == meanByTime.max()][0], meanByTime.max()))

the time it takes the longest is: 2 PM, when the trip takes 71.59 minutes

In [165]:
meanByBus = tt.mean(axis = 1)
print("the bus that takes the longest is: BUS {}, which takes {:.2f} minutes"\
      .format(busses[meanByBus == meanByBus.max()][0], meanByBus.max()))

the bus that takes the longest is: BUS 47, which takes 101.28 minutes

In [204]:
tt[0]

array([  91.82869011,   72.99278771,   96.74459251,   73.41298391,
         85.58215726,  101.38226456,   96.97680737,   95.56072596,
         77.87195303,   78.37553397])

In [205]:
tt[1]

array([ 61.03022409,  60.00463334,  67.86228679,  41.10873249,
        53.37659575,  36.91790247,  53.62835897,  55.73660035,
        58.56814116,  54.98889748])

In [207]:
tt[:,0]

array([ 91.82869011,  61.03022409,  60.98477297,  87.98620643,
        73.8097995 ,  77.14467806,  86.30704523,  74.71226929,
        77.92696605,  49.24024409,  59.18999377,  75.12543348,
        63.75814098,  15.59478274,  46.16732427,  77.280952  ,
        60.22412814,  48.79074854,  71.92154159,  78.79188234])

In [210]:
tt[:5,1]

array([ 72.99278771,  60.00463334,  45.55742203,  55.8021912 ,  79.25914025])

In [213]:
a = range(10)
b = range(101)

In [212]:
type(a)

list

In [214]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [215]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [217]:
b = ['a','b','c','d','e','f','g'] 
a + b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [289]:
b= 'abcdefg'
str(a) + b

'[[91 72 96 73 85]\n [61 60 67 41 53]\n [60 45 45 66 60]\n [87 55 81 66 53]\n [73 79 86 99 90]]abcdefg'

In [ ]:
Lists are indexed and sliced in the same way as strings and arrays.
Lists are mutable (i.e., their values can be changed in place).
Strings are immutable (i.e., the characters in them cannot be changed).

In [290]:
b*2

'abcdefgabcdefg'

In [295]:
list(a[0])*2

[91, 72, 96, 73, 85, 91, 72, 96, 73, 85]

In [231]:
a = tt[:5,:5].astype(int)
a.shape

(5, 5)

In [238]:
b = tt[5:,5:].astype(int)
b.shape

(15, 5)

In [239]:
ab = np.vstack([a, b])
ab.shape

(20, 5)

In [240]:
ab

array([[ 91,  72,  96,  73,  85],
       [ 61,  60,  67,  41,  53],
       [ 60,  45,  45,  66,  60],
       [ 87,  55,  81,  66,  53],
       [ 73,  79,  86,  99,  90],
       [ 72,  68,  72,  61,  72],
       [114, 104, 105,  93,  98],
       [ 78,  78,  72,  55,  79],
       [ 76,  73,  84,  63,  67],
       [ 68,  78,  52,  53,  54],
       [ 65,  58,  61,  57,  59],
       [ 78,  85,  80,  87,  86],
       [ 56,  68,  55,  68,  72],
       [ 32,  46,  42,  43,  49],
       [ 56,  49,  56,  65,  61],
       [ 87,  65,  85,  83,  70],
       [ 58,  40,  54,  52,  44],
       [ 53,  52,  65,  18,  66],
       [ 66,  77,  74,  69,  80],
       [ 89,  66,  65,  70,  75]])

In [241]:
b = tt[5:,5:].astype(float)
b.shape

(15, 5)

In [242]:
ab = np.vstack([a, b])
ab

array([[  91.        ,   72.        ,   96.        ,   73.        ,   85.        ],
       [  61.        ,   60.        ,   67.        ,   41.        ,   53.        ],
       [  60.        ,   45.        ,   45.        ,   66.        ,   60.        ],
       [  87.        ,   55.        ,   81.        ,   66.        ,   53.        ],
       [  73.        ,   79.        ,   86.        ,   99.        ,   90.        ],
       [  72.86854378,   68.71403738,   72.43112835,   61.79702835,
          72.26935691],
       [ 114.93276158,  104.41133895,  105.50238628,   93.35943062,
          98.78277939],
       [  78.3874604 ,   78.96898309,   72.10555491,   55.51923827,
          79.02316128],
       [  76.97932739,   73.41862304,   84.09255185,   63.36670996,
          67.99069123],
       [  68.52445254,   78.97249561,   52.57678652,   53.74647403,
          54.37398039],
       [  65.33415395,   58.19399315,   61.38295111,   57.04243639,
          59.63865558],
       [  78.10374313,   85.17605977,   80.99901671,   87.65882487,
          86.52981761],
       [  56.34111999,   68.85249945,   55.82441791,   68.08625797,
          72.10975084],
       [  32.58024267,   46.41792735,   42.82946792,   43.28099373,
          49.37757159],
       [  56.31828323,   49.76376656,   56.47451759,   65.87847643,
          61.13387985],
       [  87.4965901 ,   65.51103779,   85.00879678,   83.01854661,
          70.11890182],
       [  58.55899776,   40.75295312,   54.98036344,   52.91969315,
          44.25847756],
       [  53.76179385,   52.20652832,   65.24639906,   18.21655529,
          66.6490358 ],
       [  66.40353147,   77.43164409,   74.96692462,   69.20014753,
          80.85366556],
       [  89.96935633,   66.60290963,   65.79740182,   70.80114802,
          75.60585109]])

In [243]:
ab = np.hstack([a, b])

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [246]:
b = tt[15:,8:].astype(float)
b.shape

(5, 2)

In [247]:
ab = np.hstack([a, b])
ab

array([[ 91.        ,  72.        ,  96.        ,  73.        ,
         85.        ,  83.01854661,  70.11890182],
       [ 61.        ,  60.        ,  67.        ,  41.        ,
         53.        ,  52.91969315,  44.25847756],
       [ 60.        ,  45.        ,  45.        ,  66.        ,
         60.        ,  18.21655529,  66.6490358 ],
       [ 87.        ,  55.        ,  81.        ,  66.        ,
         53.        ,  69.20014753,  80.85366556],
       [ 73.        ,  79.        ,  86.        ,  99.        ,
         90.        ,  70.80114802,  75.60585109]])

# LOOPS

In [287]:
# create a calendar
days = ['M','T','W','Th','F','S','Sun']
months = ['J','F','M','A','MAY','J','JULY','A','S','O','N','D']
feb = 29
dom = [31,feb,31,30,31,30,31,31,30,31,30,31]
jj = -1

for i,m in enumerate(months):
    j0 = jj + 1
    print (m, " ", end="")
    for j in range(dom[i]):
        
        jj = (j + j0) % 7
        
        print (j+1, "(%s)  "%days[(j+j0)%7], end="")
        if (j + j0)%7 == 6:
            print ("")
            print (m, " ", end="")

J  1 (M)  2 (T)  3 (W)  4 (Th)  5 (F)  6 (S)  7 (Sun)
J  8 (M)  9 (T)  10 (W)  11 (Th)  12 (F)  13 (S)  14 (Sun)
J  15 (M)  16 (T)  17 (W)  18 (Th)  19 (F)  20 (S)  21 (Sun)
J  22 (M)  23 (T)  24 (W)  25 (Th)  26 (F)  27 (S)  28 (Sun)
J  29 (M)  30 (T)  31 (W)  F  1 (Th)  2 (F)  3 (S)  4 (Sun)
F  5 (M)  6 (T)  7 (W)  8 (Th)  9 (F)  10 (S)  11 (Sun)
F  12 (M)  13 (T)  14 (W)  15 (Th)  16 (F)  17 (S)  18 (Sun)
F  19 (M)  20 (T)  21 (W)  22 (Th)  23 (F)  24 (S)  25 (Sun)
F  26 (M)  27 (T)  28 (W)  29 (Th)  M  1 (F)  2 (S)  3 (Sun)
M  4 (M)  5 (T)  6 (W)  7 (Th)  8 (F)  9 (S)  10 (Sun)
M  11 (M)  12 (T)  13 (W)  14 (Th)  15 (F)  16 (S)  17 (Sun)
M  18 (M)  19 (T)  20 (W)  21 (Th)  22 (F)  23 (S)  24 (Sun)
M  25 (M)  26 (T)  27 (W)  28 (Th)  29 (F)  30 (S)  31 (Sun)
M  A  1 (M)  2 (T)  3 (W)  4 (Th)  5 (F)  6 (S)  7 (Sun)
A  8 (M)  9 (T)  10 (W)  11 (Th)  12 (F)  13 (S)  14 (Sun)
A  15 (M)  16 (T)  17 (W)  18 (Th)  19 (F)  20 (S)  21 (Sun)
A  22 (M)  23 (T)  24 (W)  25 (Th)  26 (F)  27 (S)  28 (Sun)
A  29 (M)  30 (T)  MAY  1 (W)  2 (Th)  3 (F)  4 (S)  5 (Sun)
MAY  6 (M)  7 (T)  8 (W)  9 (Th)  10 (F)  11 (S)  12 (Sun)
MAY  13 (M)  14 (T)  15 (W)  16 (Th)  17 (F)  18 (S)  19 (Sun)
MAY  20 (M)  21 (T)  22 (W)  23 (Th)  24 (F)  25 (S)  26 (Sun)
MAY  27 (M)  28 (T)  29 (W)  30 (Th)  31 (F)  J  1 (S)  2 (Sun)
J  3 (M)  4 (T)  5 (W)  6 (Th)  7 (F)  8 (S)  9 (Sun)
J  10 (M)  11 (T)  12 (W)  13 (Th)  14 (F)  15 (S)  16 (Sun)
J  17 (M)  18 (T)  19 (W)  20 (Th)  21 (F)  22 (S)  23 (Sun)
J  24 (M)  25 (T)  26 (W)  27 (Th)  28 (F)  29 (S)  30 (Sun)
J  JULY  1 (M)  2 (T)  3 (W)  4 (Th)  5 (F)  6 (S)  7 (Sun)
JULY  8 (M)  9 (T)  10 (W)  11 (Th)  12 (F)  13 (S)  14 (Sun)
JULY  15 (M)  16 (T)  17 (W)  18 (Th)  19 (F)  20 (S)  21 (Sun)
JULY  22 (M)  23 (T)  24 (W)  25 (Th)  26 (F)  27 (S)  28 (Sun)
JULY  29 (M)  30 (T)  31 (W)  A  1 (Th)  2 (F)  3 (S)  4 (Sun)
A  5 (M)  6 (T)  7 (W)  8 (Th)  9 (F)  10 (S)  11 (Sun)
A  12 (M)  13 (T)  14 (W)  15 (Th)  16 (F)  17 (S)  18 (Sun)
A  19 (M)  20 (T)  21 (W)  22 (Th)  23 (F)  24 (S)  25 (Sun)
A  26 (M)  27 (T)  28 (W)  29 (Th)  30 (F)  31 (S)  S  1 (Sun)
S  2 (M)  3 (T)  4 (W)  5 (Th)  6 (F)  7 (S)  8 (Sun)
S  9 (M)  10 (T)  11 (W)  12 (Th)  13 (F)  14 (S)  15 (Sun)
S  16 (M)  17 (T)  18 (W)  19 (Th)  20 (F)  21 (S)  22 (Sun)
S  23 (M)  24 (T)  25 (W)  26 (Th)  27 (F)  28 (S)  29 (Sun)
S  30 (M)  O  1 (T)  2 (W)  3 (Th)  4 (F)  5 (S)  6 (Sun)
O  7 (M)  8 (T)  9 (W)  10 (Th)  11 (F)  12 (S)  13 (Sun)
O  14 (M)  15 (T)  16 (W)  17 (Th)  18 (F)  19 (S)  20 (Sun)
O  21 (M)  22 (T)  23 (W)  24 (Th)  25 (F)  26 (S)  27 (Sun)
O  28 (M)  29 (T)  30 (W)  31 (Th)  N  1 (F)  2 (S)  3 (Sun)
N  4 (M)  5 (T)  6 (W)  7 (Th)  8 (F)  9 (S)  10 (Sun)
N  11 (M)  12 (T)  13 (W)  14 (Th)  15 (F)  16 (S)  17 (Sun)
N  18 (M)  19 (T)  20 (W)  21 (Th)  22 (F)  23 (S)  24 (Sun)
N  25 (M)  26 (T)  27 (W)  28 (Th)  29 (F)  30 (S)  D  1 (Sun)
D  2 (M)  3 (T)  4 (W)  5 (Th)  6 (F)  7 (S)  8 (Sun)
D  9 (M)  10 (T)  11 (W)  12 (Th)  13 (F)  14 (S)  15 (Sun)
D  16 (M)  17 (T)  18 (W)  19 (Th)  20 (F)  21 (S)  22 (Sun)
D  23 (M)  24 (T)  25 (W)  26 (Th)  27 (F)  28 (S)  29 (Sun)
D  30 (M)  31 (T)

In [256]:
3%7

3

In [296]:
 a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
# Write one line of Python that takes this list a and makes a new list that has only the even elements of this list in it.

In [298]:
[aa for aa in a if not aa%2]

[4, 16, 36, 64, 100]